# Theme Name: Adapt Rx
# Made by: akilluminati47 (Adapt RiptOPL, 8/27/2026), RIPPS2 edition (build 81)
# [case.png] [case_overlay.png] RiptOPL's built-in case (b2); [SCR43.png] Adapt's screenshot frame at 4:3
# RIPPS2: each game's art under frosted glass (a full-screen Ripps2PanelGlass, blur=1), a frosted side
# bar, clear glass panels under the text, page morphs between the list and the info page, the pillars
# behind Settings (no settings_bg), right-stick tilt on the art. Art eases in; no stock disc or case.

bg_color=#050A1C
sel_text_color=#0064FF
text_color=#FFFFFF
ui_text_color=#C4DAFF
towers=0
source_name=pop
default_font=a.ttf
default_font_size=17
font1=b.ttf
font2=c.ttf
font3=d.ttf
font4=b.ttf
font4_size=20
category_order=memory_files_first

main0:
	type=Background
	pattern=BG
	widecrop=1
main1:
	type=Ripps2PanelGlass
	aligned=0
	x=0
	y=0
	width=640
	height=480
	blur=1
	tint=24
	frame=0
main2:
	type=Ripps2PanelGlass
	aligned=0
	x=0
	y=0
	width=26
	height=480
	blur=1
	tint=88
	tint_color=#01040F
	frame=0
main3:
	type=Ripps2PanelGlass
	aligned=0
	x=28
	y=0
	width=12
	height=480
	blur=1
	tint=22
	tint_color=#28C5F9
	frame=0
main4:
	type=Ripps2PanelGlass
	aligned=0
	x=56
	y=76
	width=368
	height=309
	blur=1
	tint=44
	frame=1
main5:
	type=GameImage
	pattern=COV
	slide=1
	x=512
	y=262
	tilt=1
	tilt_x=512
	tilt_y=200
	width=143
	height=201
	aligned=1
	scaled=1
	reflection=1
	overlay=case
	overlay2=case_overlay
	overlay_ulx=0
	overlay_uly=0
	overlay_urx=143
	overlay_ury=0
	overlay_llx=0
	overlay_lly=201
	overlay_lrx=143
	overlay_lry=201
main6:
	type=GameImage
	pattern=COV2
	slide=2
	x=512
	y=262
	tilt=1
	tilt_x=512
	tilt_y=200
	width=143
	height=201
	aligned=1
	scaled=1
	reflection=1
	overlay=case
	overlay2=case_overlay
	overlay_ulx=0
	overlay_uly=0
	overlay_urx=143
	overlay_ury=0
	overlay_llx=0
	overlay_lly=201
	overlay_lrx=143
	overlay_lry=201
main7:
	type=ItemIcon
	aligned=1
	scaled=1
	x=512
	y=100
	width=112
	height=112
	tilt=1
	tilt_x=512
	tilt_y=200
main8:
	type=ItemsList
	x=68
	y=88
	aligned=0
	width=344
	height=285
	font=4
main9:
	type=LoadingIcon
	x=-60
	y=-31
main10:
	type=HintText
	aligned=1
	x=POS_MID
	y=-41
	font=2
main11:
	type=MenuText
	x=POS_MID
	y=25
	aligned=1
	width=225
	font=2
info0:
	type=Background
	pattern=BG
	widecrop=1
info1:
	type=Ripps2PanelGlass
	aligned=0
	x=0
	y=0
	width=640
	height=480
	blur=1
	tint=24
	frame=0
info2:
	type=Ripps2PanelGlass
	aligned=0
	x=0
	y=0
	width=26
	height=480
	blur=1
	tint=88
	tint_color=#01040F
	frame=0
info3:
	type=Ripps2PanelGlass
	aligned=0
	x=28
	y=0
	width=12
	height=480
	blur=1
	tint=22
	tint_color=#28C5F9
	frame=0
info4:
	type=Ripps2PanelGlass
	aligned=0
	x=45
	y=160
	width=395
	height=255
	blur=1
	tint=44
	frame=1
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info5:
	type=GameImage
	pattern=LGO
	x=POS_MID
	y=100
	aligned=1
	width=300
	height=125
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info6:
	type=AttributeImage
	attribute=Rating
	default=rating/0_Rating
	aligned=0
	x=60
	y=177
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info7:
	type=AttributeImage
	attribute=Scan
	aligned=0
	x=232
	y=173
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info8:
	type=AttributeImage
	attribute=Players
	aligned=0
	x=182
	y=173
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info9:
	type=AttributeText
	attribute=Description
	aligned=0
	display=2
	x=55
	y=210
	width=375
	height=100
	wrap=1
	line_height=19
	font=1
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info10:
	type=AttributeText
	attribute=Developer
	aligned=0
	display=2
	x=55
	y=330
	width=375
	wrap=0
	font=2
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info11:
	type=AttributeText
	attribute=Release
	aligned=0
	display=2
	x=55
	y=358
	width=375
	font=3
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info12:
	type=AttributeText
	attribute=Genre
	display=2
	aligned=0
	x=55
	y=385
	width=375
	font=2
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info13:
	type=InfoHintText
	aligned=1
	x=POS_MID
	y=-41
	font=3
info14:
	type=GameImage
	pattern=SCR
	scaled=1
	x=532
	y=230
	width=170
	height=128
	overlay=SCR43
	overlay_ulx=6
	overlay_uly=4
	overlay_urx=166
	overlay_ury=4
	overlay_llx=6
	overlay_lly=124
	overlay_lrx=166
	overlay_lry=124
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info15:
	type=GameImage
	pattern=SCR2
	scaled=1
	x=532
	y=362
	width=170
	height=128
	overlay=SCR43
	overlay_ulx=6
	overlay_uly=4
	overlay_urx=166
	overlay_ury=4
	overlay_llx=6
	overlay_lly=124
	overlay_lrx=166
	overlay_lry=124
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info16:
	type=AttributeImage
	attribute=Parental
	aligned=0
	scaled=1
	x=370
	y=330
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info17:
	type=AttributeImage
	attribute=Vmode
	aligned=0
	x=332
	y=173
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
info18:
	type=AttributeImage
	attribute=Aspect
	aligned=0
	x=282
	y=173
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
appsMain4:
	type=Ripps2PanelGlass
	aligned=0
	x=48
	y=40
	width=568
	height=368
	blur=1
	tint=44
	frame=1
appsMain5:
	type=GameImage
	enabled=0
appsMain6:
	type=GameImage
	enabled=0
appsMain7:
	type=ItemIcon
	enabled=0
appsMain8:
	type=ItemsList
	x=58
	y=75
	aligned=0
	width=548
	height=323
	font=4
appsInfo5:
	type=ItemCover
	x=532
	y=262
	tilt=1
	tilt_x=320
	tilt_y=260
	tilt_scale=75
	width=143
	height=201
	aligned=1
	scaled=1
	reflection=1
	overlay=case
	overlay2=case_overlay
	overlay_ulx=0
	overlay_uly=0
	overlay_urx=143
	overlay_ury=0
	overlay_llx=0
	overlay_lly=201
	overlay_lrx=143
	overlay_lry=201
appsInfo14:
	type=GameImage
	enabled=0
appsInfo15:
	type=GameImage
	enabled=0
